In [1]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.
# Answer:
# Database:  SQL databases are table-based, while NoSQL databases are document, key-value, graph,or wide-column stores.
# Difference bw SQL and NoSQL databse:
# SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

In [3]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
# DDL(Data Definition Language):
#      This sub-language deals with onjects of database like table,view,sequence etc..
#      Its provides five commands-
#     1.CREATE,
#     2.RENAME,
#     3.ALTER,
#     4.TRUNCATE,
#     5.DROP
# (1.) CREATE:
        #syntax;
           # create table table_name(<field1><datatype>,<field2><datatype>...<fieldn><datatype>)
# (3.) ALTER:
        #syntax:
           #ALTER TABLE= table_name ACC column_name datatype;
# (4.) TRUNCATE:
       #syntax:
           #

In [4]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
# Answer:
# DML(Data Manipulate Language):
     # It deals with data of objects. It provides three commands-
     # . INSERT
     # . UPDATE
     # . DELETE
        
# (1.) INSERT:
         #syntax:
           # insert into <table.name> values(data1,data2,...,datan);
           # insert into text.text_table values(123,'Dushyant', 234.45,234,'kumar')
# (2.) UPDATE:
         #syntax:
            # update <table> set <field>=<update> where <field>=<Reference_data>;
            # update text.text_table set name='Dushyant' where sir name = 'kumar'
# (3.) DELETE:
         #syntax:
            #(a) delete from <table_name>;
            #(b) delete from <table_name> where condition_statement;

In [5]:
# Q4. What is DQL? Explain SELECT with an example.
# Answer:
# DQL(Data Query Language):
#        It is used to retrive information from database. It has only one select command.

# SELECT:
    #syntax:
         # select * from <table_name>;

In [6]:
# Q5. Explain Primary Key and Foreign Key.
# Answer:
# Primary key:
#     1. primary key uniquely indentify a record in the table.
#     2. primary key cannot accept Null values.
#     3. By default , primary key is clustered index and data in the database table is physically organised in the sequence of
#        clustered index.
# Foreign key:
#    1.foreign key is a field in the table that is primary key in another table.
#    2.foreign key can accept multiple null values .
#    3.foreign key do not automatcally create an index, clustered or non-clustered .
#       you can mannually create an index on foreign key.

In [8]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
# Answer:
import mysql.connector
mydb = mysql.connector.connect(
    host ="localhost",
    user ="abc",
    password = "password"
)

mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test55")
mycursor.execute("SHOW DATABASES")
mydb.close()

# cursor():
#     Cursor is a Temporary Memory or Temporary Work Station. It is Allocated by Database Server at the Time of Performing 
#    DML(Data Manipulation Language) operations on the Table by the User. Cursors are used to store Database Tables. 
#    There are 2 types of Cursors: Implicit Cursors, and Explicit Cursors.
# execute():
#     This method executes the given database operation (query or command). The parameters found in the tuple or dictionary 
#    params are bound to the variables in the operation. Specify variables using %s or %( name )s parameter style
#    (that is, using format or pyformat style). execute() returns an iterator if multi is True .

In [ ]:
# Q7. Give the order of execution of SQL clauses in an SQL query.
# Answer:
#   FROM--->JOIN--->WHERE--->GROUP BY--->HAVING--->SELECT--->DISTINCT--->ORDER BY--->LIMIT